.site-title {
	height:90px;
	padding:10px 20px 20px 20px;
	transition: all 500ms ease-in;
}

.site-title h1 {
	font-size:40px;
	transition: all 300ms ease-in;
}

	.site-title-small {
		height:0px;
		padding:0 20px;
		transition: all 500ms ease-out;
	}

	.site-title-small h1 {
		font-size:20px;
		transition: all 300ms ease-out;
	}

@media only screen and (min-width: 488px) { /* Mobile Breakpoint */

	.site-title {
		height:130px;
		padding:40px 20px 30px 20px;
		transition: all 300ms ease-in;

	}

	.site-header-small .site-title {
		height:60px;
		padding:10px 20px 20px 20px;
		transition: all 300ms ease-out;
	}

	.site-title h1 {
		font-size:60px;
		line-height:40px;
		transition: all 300ms ease-in;
	}

	.site-header-small .site-title h1 {
		font-size:40px;
		transition: all 300ms ease-out;
	}

}